.divider-container {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.divider-icon4 {
  fill: var(--dl-color-newtheme-green);
}
