.footer-footer {
  flex: 0 0 auto;
  color: var(--dl-color-gray-white);
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: 100px;
  padding-right: 100px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: center;
  background-color: #DC4D01;
}
.footer-container {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  flex-wrap: wrap;
  max-width: 1600px;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
}
.footer-container1 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.footer-link {
  display: contents;
}
.footer-container2 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: #DC4D01;
}
.footer-icon {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-unit);
  height: var(--dl-size-size-unit);
  transition: 0.3s;
}
.footer-icon:hover {
  fill: #8c30f5ff;
}
.footer-link1 {
  display: contents;
}
.footer-container3 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: #DC4D01;
}
.footer-icon2 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-unit);
  height: var(--dl-size-size-unit);
  transition: 0.3s;
}
.footer-icon2:hover {
  fill: #f22bb2ff;
}
.footer-link2 {
  display: contents;
}
.footer-container4 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: #DC4D01;
}
.footer-icon4 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-unit);
  height: var(--dl-size-size-unit);
  transition: 0.3s;
}
.footer-icon4:hover {
  fill: #2ec5ceff;
}
.footer-link3 {
  display: contents;
}
.footer-container5 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color:#DC4D01;
}
.footer-icon6 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-unit);
  height: var(--dl-size-size-unit);
  transition: 0.3s;
}
.footer-icon6:hover {
  fill: #fe9a22ff;
}
.footer-container6 {
  display: flex;
  margin-top: 0px;
  align-items: center;
  margin-bottom: 0px;
  flex-direction: row;
  justify-content: flex-start;
}
.footer-text {
  transition: 0.3s;
  margin-right: var(--dl-space-space-unit);
}
.footer-text:hover {
  color: #2ec5ceff;
}
.footer-text1 {
  transition: 0.3s;
  margin-right: var(--dl-space-space-unit);
}
.footer-text1:hover {
  color: #2ec5ceff;
}
.footer-text2 {
  transition: 0.3s;
  margin-right: var(--dl-space-space-unit);
}
.footer-text2:hover {
  color: #2ec5ceff;
}
.footer-text3 {
  transition: 0.3s;
  margin-right: var(--dl-space-space-unit);
}
.footer-text3:hover {
  color: #2ec5ceff;
}
.footer-text4 {
  transition: 0.3s;
  margin-right: var(--dl-space-space-unit);
}
.footer-text4:hover {
  color: #2ec5ceff;
}
.footer-text5 {
  transition: 0.3s;
  white-space: nowrap;
}
.footer-text5:hover {
  color: #2ec5ceff;
}
.footer-divider {
  width: 100%;
  height: 1px;
  opacity: 0.2;
  background-color: #DC4D01;
}
.footer-container7 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer-text6 {
  color: #d9dbe1ff;
  margin-top: var(--dl-space-space-unit);
}
.footer-text7 {
  font-size: 14px;
  margin-top: var(--dl-space-space-unit);
  font-family: Inter;
  text-transform: none;
  text-decoration: none;
}
.footer-link4 {
  color: var(--dl-color-turquoise-default);
  font-style: normal;
  font-weight: 500;
}

@media(max-width: 767px) {
  .footer-container6 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-container7 {
    flex-direction: column;
  }
  .footer-text6 {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-text7 {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
}
