.university-list-container {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-newtheme-green);
  border-width: 1px;
  padding-bottom: var(--dl-space-space-unit);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.university-list-container:hover {
  background-color: #ecebeb;
}
.university-list-container1 {
  flex: 0 0 auto;
  width: 10%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  border-color: var(--dl-color-newtheme-green);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  border-top-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
}
.university-list-image {
  width: 90%;
  height: auto;
  object-fit: cover;
}
.university-list-container2 {
  flex: 0 0 auto;
  width: 16%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  border-color: var(--dl-color-newtheme-green);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  border-top-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
}
.university-list-text {
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-weight: 600;
  text-transform: uppercase;
}
.university-list-container3 {
  flex: 0 0 auto;
  width: 16%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  border-color: var(--dl-color-newtheme-green);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  border-top-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
}
.university-list-text1 {
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-weight: 600;
  text-transform: uppercase;
}
.university-list-container4 {
  flex: 0 0 auto;
  width: 10%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  border-color: var(--dl-color-newtheme-green);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  border-top-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
}
.university-list-text2 {
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-weight: 600;
  text-transform: uppercase;
}
.university-list-container5 {
  flex: 0 0 auto;
  width: 10%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  align-items: flex-start;
  border-color: var(--dl-color-newtheme-green);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  border-top-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
}
.university-list-text3 {
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-weight: 600;
  text-transform: uppercase;
}
.university-list-container6 {
  flex: 0 0 auto;
  width: 10%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  align-items: flex-start;
  border-color: var(--dl-color-newtheme-green);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  border-top-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
}
.university-list-text4 {
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-weight: 600;
  text-transform: uppercase;
}
.university-list-container7 {
  flex: 0 0 auto;
  width: 10%;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  align-items: flex-start;
  border-color: var(--dl-color-newtheme-green);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  border-top-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
}
.university-list-text5 {
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-weight: 600;
  text-transform: uppercase;
}
.university-list-container8 {
  flex: 0 0 auto;
  width: 10%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.university-list-text8 {
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-weight: 600;
  text-transform: uppercase;
}
@media(max-width: 1600px) {
  .university-list-text {
    font-size: 14px;
  }
  .university-list-text1 {
    font-size: 14px;
  }
  .university-list-text2 {
    font-size: 14px;
  }
  .university-list-text3 {
    font-size: 14px;
  }
  .university-list-text4 {
    font-size: 14px;
  }
  .university-list-text5 {
    font-size: 14px;
  }
  .university-list-text8 {
    font-size: 14px;
  }
}
@media(max-width: 1200px) {
  .university-list-container2 {
    width: 12%;
  }
  .university-list-text {
    font-size: 13px;
  }
  .university-list-container3 {
    width: 12%;
  }
  .university-list-text1 {
    font-size: 13px;
  }
  .university-list-text2 {
    font-size: 13px;
  }
  .university-list-text3 {
    font-size: 13px;
  }
  .university-list-text4 {
    font-size: 13px;
  }
  .university-list-text5 {
    font-size: 13px;
  }
  .university-list-container8 {
    width: auto;
    flex-wrap: wrap;
  }
  .university-list-text8 {
    font-size: 13px;
  }
}
@media(max-width: 991px) {
  .university-list-text {
    font-size: 9px;
  }
  .university-list-text1 {
    font-size: 9px;
  }
  .university-list-text2 {
    font-size: 9px;
  }
  .university-list-text3 {
    font-size: 9px;
  }
  .university-list-text4 {
    font-size: 9px;
  }
  .university-list-text5 {
    font-size: 9px;
  }
  .university-list-text8 {
    font-size: 9px;
  }
}
